[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
connect="python connect/main.py"
check-format="black -t py39 --check --diff connect tests"
format="black -t py39 connect tests"

[packages]
nats-py = "*"
confluent-kafka = "*"
fastapi = "*"
pyaml = "*"
requests = "*"
httpx = "*"
slowapi = "*"
uvicorn = "*"
nkeys = "*"
linuxforhealth-edi = "*"
python-multipart = "*"
charset-normalizer = "*"
opensearch-py = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
