[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
connect="python connect/main.py"
check-format="black -t py38 --check --diff connect tests"
format="black -t py38 connect tests"

[packages]
asyncio-nats-client = "==0.11.4"
confluent-kafka = "==1.7.0"
fastapi = "==0.70.0"
pyaml = "==20.4.0"
requests = "==2.26.0"
httpx = "==0.19.0"
slowapi = "==0.1.5"
uvicorn = "==0.14.0"
nkeys = "==0.1.0"
linuxforhealth-edi = "==0.25.0"

[dev-packages]
pytest = "==6.2.5"
pytest-asyncio = "==0.15.1"
flake8 = "3.9.2"
black = {extras = ["d"], version = "==21.9b0"}
pre-commit = "==2.15.0"

[pipenv]
allow_prereleases = true
